@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Architects+Daughter|Dancing+Script|Gloria+Hallelujah|Handlee|Indie+Flower|Kaushan+Script|Marck+Script|Permanent+Marker|Satisfy|Shadows+Into+Light");
$mll: "./touch-box.jpg";
$threeD: "./circle_final.png";
$js-help: "./js-help-ss.png";
$vjam: "./v-jam.jpg";
$images: $mll, $threeD, $js-help, $vjam;

$i: 1;
$j: 1;
$k: 1;
@while $j < 9 {
  @if $j % 2 == 0 {
    $k: $j + 1;
    table tr:nth-child(#{$j}) td  {
      & div {
        background-image: url(nth($images, $i));
        background-size: cover;
        background-repeat: no-repeat;
    }

      &:hover {
        & div {
          width: 95px;
          height: 95px;
          margin: -10px;

          z-index: 1;
        }
      }
      &:hover ~ .name h3 {
        margin-left: 40px;
      }



    }

    $i: $i + 1;
  }
  $j: $j + 1;
}



td {
  padding: 0px;
}

table {
  border-collapse: collapse;
}

.circle {
  border-radius:100%;
  border: 2px solid;
  width: 75px;
  height:75px;
  position: relative;
}

#left {
  margin-left: 20%;
  display: inline-block;
}

#name {
  border: 2px double;
  outline: 2px solid;
  outline-offset: -5px;
  text-align: center;
  margin: auto;
}

#nav {
  display: inline-block;
  vertical-align: top;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 4em;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  margin-left:15px;
  position: relative;
}

h4 {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  &:hover {
    cursor: pointer;
    & span {
    font-size: 0.7em;
    margin-right: 0.25em;
  }
  }
}

.line {
  width: 1px;
  height: 75px;
  border-left: 2px solid;
  border-right: 2px solid;
  margin-left: 37.5px;
  position: relative;
}

.name {
  font-size: 1.05em;
}
