@media (max-width: 966px) and (min-width: 833px) {
  /*.portrait-slide-container {
    margin-top: 2em;
    width: 35%;
    border: 1px solid;
    position: relative;
    display: inline-block;
  }*/
}

@media (max-width: 1078px) {
  #project-details-container-narrow-description {
    width: 100%;
    padding: 0;
    border: none;
  }

  .video-slide-container {
    display: block;
    margin: auto;
    float: none;
    padding: 0;
    border: 1px solid;
  }

  #hidden-line-gallery {
    display: block;
    width: 1px;
    height: 15px;
    border-left: 2px solid;
    border-right: 2px solid;
    margin: auto;
  }

  #gif-container {
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid;
  }

  .example-gif {
    display: block;
    float: none;
    margin: auto;
  }

  #narrow-description {
    width:90%;
    margin: auto;
    padding: 1em;
    border: 1px solid;
    display: block;
  }

  .landscape-slide-container {
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid;
    position: relative;
    float: none;
  }

  #hidden-line {
    display: block;
    width: 1px;
    height: 15px;
    border-left: 2px solid;
    border-right: 2px solid;
    margin: auto;
  }

  .portrait-slide-container {
    width: 50%;
    display: block;
    margin: auto;
    border: 1px solid;
    position: relative;
    float: none;
  }

  #gif {
    margin-top: 5%;
  }
  #project-details-container-wide-description {
    width: 100%;
    padding: 0;
    border: none;
  }
  #wide-description {
    width:90%;
    margin: auto;
    padding: 1em;
    border: 1px solid;
    display: block;
  }
  #gif {
    overflow: hidden;
    border: 1px solid black;
    width: 60%;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;

  }
}


@media (max-width: 833px) {
  .resume-section, #tech-description {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
    text-align: left;
    width: 80%;
    margin: auto;
    min-width: 0em;

  }

}
